/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-goueg-image-inspiration picture {
    display: block;
    max-width: 1200px;
    width: 100%;
    overflow: hidden;
}
.wp-block-goueg-image-inspiration img {
    max-width: 100%;
    height: auto;
}
.custom-button-toolbar {
    border: none;
}